body{
  margin:0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1{
  font-size: 5.625rem; /* usar porcentagem torna o tamanho da fonte dinâmico, se adaptando as config especificas do usuário, obs = 100% == 16px == 1em*/
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  line-height: 2; /* é sempre preferível dar valores sem unidades para a prop line height*/
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;

}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr{
    border-style: dotted;
    width: 3%;
    border-width: 0.5rem;
    border-bottom: 0;
    border-color: grey;
    margin-bottom: 80px;
  
/* 16px = 1rem*/
}





.pfp{
  width: 12%;
  padding-top: 50px;
}

.pro{
  text-decoration: underline;
}

.p1{
  padding-bottom: 6%;
}

a{
  color:#11999E;
}

.top-container{background-color: #CDF0EA;
              position:relative;
              padding-top: 100px;
}
/* é necessário que o pai dos elementos seja relative, se n eles iram se referir ao body */
.middle-container{margin: 0 auto;
  width: 100%;
              
                }

.bottom-container{margin: 0 auto;
                  }
.bottom-cloud{
      position: absolute;
      left: 500px;
      bottom: 300px;

}

.top-cloud{
        position: absolute;
        right:500px;
        top: 50px;

}

.skill1{
  margin-right: 30%;
  text-align: left;
}

.skill2{
  margin-right: 30%;
  text-align: left;
  margin-left: 20%;

}
.python{
  margin-left: 20%;
  margin-right: 3%;
  float: left;
  width: 10%;
}

.webdev{
  margin-right: 35%;
  margin-left: 3%;
  float: right;
  width: 10%;
  
}

.skill-row1{
  margin-bottom: 10%;
}